
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #1f1f1f;
  flex-direction: column;
  overflow: hidden;
  color: #1f1f1f;
  font-family: 'JetBrains Mono', monospace;
  font-family: 'Roboto', sans-serif;

}


